.grid {
    height: 100%;
    color: white;
}

.column {
    max-width: 450px;
}

.title {
    font-size: 5em;
    letter-spacing: 0.2em;
    color: #74C69D;
}

.sign-up-link {
    color: #74C69D;

}

.sign-up-link:hover{
    color: #40916C;
}